build.*.properties

dist
tmp

java/bin
java/classes
java/dist
java/.settings

windows/LiferayNativityShellExtensions/ipch

windows/LiferayNativityShellExtensions/*.opensdf
windows/LiferayNativityShellExtensions/Release
windows/LiferayNativityShellExtensions/Debug
windows/LiferayNativityShellExtensions/LiferayNativityOverlays/Debug
windows/LiferayNativityShellExtensions/LiferayNativityOverlays/Release
windows/LiferayNativityShellExtensions/LiferayNativityContextMenus/Release
windows/LiferayNativityShellExtensions/LiferayNativityContextMenus/Debug
windows/LiferayNativityShellExtensions/LiferayNativityExtensionServer/Debug
windows/LiferayNativityShellExtensions/LiferayNativityExtensionServer/Release
windows/LiferayNativityShellExtensions/LiferayNativityUtil/Debug
windows/LiferayNativityShellExtensions/LiferayNativityUtil/Release
windows/LiferayNativityShellExtensions/NativityTest/Debug
windows/LiferayNativityShellExtensions/NativityTest/Release
