.ivy

build
build.*.properties
dist
tmp

.DS_Store
.idea/
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
DerivedData
profile
xcuserdata

java/bin
java/classes
java/dist
java/.settings

windows/LiferayNativityShellExtensions/ipch
windows/LiferayNativityShellExtensions/*.opensdf
windows/LiferayNativityShellExtensions/Release
windows/LiferayNativityShellExtensions/Debug
windows/LiferayNativityShellExtensions/LiferayNativityOverlays/Debug
windows/LiferayNativityShellExtensions/LiferayNativityOverlays/Release
windows/LiferayNativityShellExtensions/LiferayNativityOverlays/OverlayConstants.h
windows/LiferayNativityShellExtensions/LiferayNativityContextMenus/Release
windows/LiferayNativityShellExtensions/LiferayNativityContextMenus/Debug
windows/LiferayNativityShellExtensions/LiferayNativityContextMenus/ContextMenuConstants.h
windows/LiferayNativityShellExtensions/LiferayNativityUtil/Debug
windows/LiferayNativityShellExtensions/LiferayNativityUtil/Release
windows/LiferayNativityShellExtensions/LiferayNativityWindowsUtil/Debug
windows/LiferayNativityShellExtensions/LiferayNativityWindowsUtil/Release
windows/LiferayNativityShellExtensions/LiferayNativityWindowsUtil/com_liferay_nativity*
windows/LiferayNativityShellExtensions/NativityTest/Debug
windows/LiferayNativityShellExtensions/NativityTest/Release
