<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.liferay.FinderPluginHelper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FinderPluginHelper</string>
	<key>CFBundleVersion</key>
	<string>1.7</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>identifier com.liferay.FinderPluginInstaller and certificate leaf[subject.CN] = &quot;3rd Party Mac Developer Application: Liferay, Inc.&quot;</string>
	</array>
	<key>KeepAlive</key>
	<true/>
</dict>
</plist>
